.btnMoradoPeq {
  background-color: #7f4d6e !important;
  border: none !important;
  border-radius: 50px !important;
  color: white;
  padding: 12px !important;
  font-size: 15px !important;
  width: 100px;
}
