.alltestforclient {
  background-color: #442739;
  width: 60vw;
}

.botonalltestforclient {
  background-color: #ff99d6;
  border: none !important;
  border-radius: 40px !important;
  color: #21121b !important;
  padding: 6px !important;
  width: 110px !important;
  height: 40px;
}

.botonalltestforclientVolver {
  background-color: #aa99ff;
  border: none !important;
  border-radius: 40px !important;
  color: #21121b !important;
  padding: 6px !important;
  width: 110px !important;
  height: 40px;
}

.selectordeopciones {
  border: 1px solid #ff99d6 !important;
  background-color: transparent !important;
  border-radius: 40px !important;
  color: white;
  width: 40vw !important;
}

.selectordeopciones:hover {
  background-color: #f1ebee71 !important;
  color: black !important;
}
