.botontestpink {
  background-color: #ff99d6 !important;
  border: none !important;
  border-radius: 40px !important;
  color: #21121b !important;
  padding: 6px !important;
  width: 110px !important;
  height: 40px;
}

.sizebtntest {
  height: 12px !important;
  align-items: center;
  justify-content: center;
}
