.botonoverlay {
  background-color: #ffe5f4 !important;
  border: none !important;
  border-radius: 50px !important;
  color: black;
  padding: 12px !important;
}

.tamañooverlay {
  height: 50px !important;
}
.tamañooverlay1 {
  height: 35px !important;
}
