.barracerrar2 {
  background-color: #21121b;
  min-height: 100vh;
}

.fotoPerfil1 {
  height: 60px;
  width: 45px;
}

.cerrarcamara2 {
  height: 30px;
  width: 30px;
  margin-left: 95%;
}

.fotofrontal {
  height: 450px;
  width: 380px;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
}

.guardar {
  margin-left: auto;
  margin-right: auto;
}
