.glowup {
  background-image: url("../../../../public/assets/images/logos/logoGlow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20vh;
  width: 40vh;
}
.fondoGlow {
  background-color: white;
}
.form-edit-client {
  width: 650px;
  height: 700px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
}
.register {
  color: #412536;
  font-weight: 600;
  letter-spacing: 1px;
}
.fontgris {
  color: #897883;
}
.fontmorada {
  color: #412536;
}
.fontrositasubray {
  color: #a8578a;
  font-size: large;
  text-decoration: underline;
}
.botonmoradoglow {
  width: 300px !important;
}

/* Responsive tablet */
@media (max-width: 768px) {
  .form-edit-client {
    width: 450px;
    height: 700px;
    padding: 20px 40px;
  }
}
/* Responsive móvil */
@media (max-width: 500px) {
  .form-edit-client {
    width: 350px;
    height: 670px;
    padding: 20px 20px;
  }
}
