.botonrosa {
  background-color: #ffcfeb !important;
  border: none !important;
  border-radius: 50px !important;
  color: #412536 !important;
  font-weight: 500 !important;
  padding: 12px !important;
  // margin: 2vw !important;
}
