.fondoOjo {
  background-image: url("../../../../public/assets/images/fondos/fondoRegister.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.glowup {
  background-image: url("../../../../public/assets/images/logos/logoGlow.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20vh;
  width: 40vh;
}

