
.perfil-del-usuario {
  min-height: calc(100vh - 107px);
}

.user-avatar-profile{
  width: 120px !important;
  height: 120px !important;
  margin: 0 auto;
 }

.ficha-profesional{
  background-color: rgba(128, 128, 128, 0.342) !important;
  padding: 20px;
  border-radius: 20px !important;
  justify-content: center;
  margin: 0 auto;
}
