.fondoClient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../../../public/assets/images/fondos/tonosRosasMorados.jpg");
  background-position: center;
  background-size: cover;
  border-radius: 20px;
  min-height: calc(100vh - 64px);
  width: 100%;
}

.editarCliente {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.fotonavbar {
  width: 100%;
  img {
    display: flex;
    align-items: center;
  }
}

.imgPerfil {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8366a0;
  width: 201px;
  height: 201px;
  border-radius: 50%;

  box-shadow: 5px 5px 15px 6px #563f6d;
}

.avatarClient {
  height: 200px !important;
  width: 200px !important;
}

.card-header:first-child {
  color: #b83786 !important;
}
.client-card {
  background-color: #f6f3f65e !important;
  border: none;
  border-radius: 50px !important;
  box-shadow: 0 4px 12px 0 rgba(6, 0, 0, 0.08) !important;
  height: 60vh;
  width: 80vh;
  padding: 0px 50px;
  padding-bottom: 20px;
  color: #5e4472;
  width: 60vw;
}

.nav-icon {
  display: none;
  width: 24px;
  height: 24px;
}

.nav-text {
  display: block;
}

.client-card-body {
  padding: 25px;
}
.pestañas {
  background-image: #9468a3 !important;
  color: rgba(255, 255, 255, 0.452) !important;
}
.nav-link.active {
  color: #5e4472 !important;
  background-color: #ffffff92;
  border-color: var(--bs-nav-tabs-link-active-border-color);
}
.nav-link {
  color: #5e4472 !important;
  background-color: #ffffff92;
  border-color: var(--bs-nav-tabs-link-active-border-color);
}
.linea {
  border-bottom: 1px solid black;
}

.botones-opciones {
  color: white;
  border: none;
  background: #6c445d37;
  border-radius: 30px;
  padding: 1vw;
  width: 20vw;
}
.botones-opciones:hover {
  background: rgba(255, 191, 249, 0.332);
}

//seccion fotografias cliente
.div-foto-cliente {
  box-sizing: border-box;
  width: 227px;
  height: 281px;
  border: 2px dashed #ffe6f4;
  border-radius: 16px;
}
.div-foto-cliente:hover {
  background: rgba(95, 91, 95, 0.332);
  transform: scale(1.1);
}
//seccion colorimetria cliente
.div-circulo-colorimetriaCliente {
  width: 120px;
  height: 120px;
  border: 2px dashed #ffe6f4;
  border-radius: 50%;
  img {
    object-fit: contain;
    object-position: bottom;
    width: 100%;
    border-radius: 50%;
  }
}
.div-circulo-colorimetriaCliente:hover {
  background: rgba(95, 91, 95, 0.332);
  transform: scale(1.1);
}
.info-cliente {
  margin: 3rem;
}
//seccion historial cliente
table {
  border: 1px solid white;
  margin: 50px auto;
  tr {
    border: 1px solid white;
    th {
      border: 1px solid white;
      padding: 1rem 1rem;
    }
    td {
      border: 1px solid white;
      padding: 1rem 2rem;
    }
  }
}
tr:hover {
  background: rgba(95, 91, 95, 0.206);
}
.moradoCliente {
  background-color: #7e6499;
}
.morado-claroCliente {
  background: #9e6ed1ce(145, 107, 145, 0.555);
}

// Estilos para tabletas (en modo horizontal)
@media (max-width: 1024px) {
  .fondoClient {
    height: 100vh;
    width: 80vw;
  }

  .client-card {
    height: 60vh;
    width: 70vw;
    // Ajusta otros estilos según sea necesario
  }
}

// Estilos para tabletas (en modo vertical)
@media (max-width: 768px) {
  .fondoClient {
    height: 93vh;
    width: 90vw;
  }

  .client-card {
    height: 50vh;
    width: 80vw;
  }
}

// RESPONSIVE para móviles
@media (max-width: 580px) {
  .fondoClient {
    height: 100%;
    width: 94vw;
    padding: 0;
  }

  .client-card {
    height: 70vh;
    width: 90vw;
    margin-top: 20px;
  }

  .client-card .row {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .client-card .col {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .nav-icon {
    display: block;
  }

  .nav-text {
    display: none;
  }

  .div-circulo-colorimetriaCliente {
    width: 50px;
    height: 50px;
    border: 2px dashed #ffe6f4;
    border-radius: 50%;
  }

  .font-white h6 {
    font-size: 0.8rem;
  }
}
